reponses-REP-3.5/reponses-core/src/main/resources/schemas/elementFondDossier.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/group"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/schemas/group">

	<xs:element name="type" type="xs:string" />
	<xs:element name="niveauVisibilite" type="xs:string" />
	<xs:element name="numeroVersion" type="xs:string" />
	<xs:element name="userName" type="xs:string" />
	<xs:element name="filePath" type="xs:string" />
	<xs:element name="ministereAjoute" type="xs:string" />
	<!-- TODO if richefaces define fileContent else use nuxeo file.xsd <xs:element 
		name="fileContent" type="xs:string" /> -->

</xs:schema>
