reponses-REP-3.5/reponses-core/src/main/resources/schemas/vocabularyLegislature.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/vocabulary"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:leg="http://dila.fr/solon/schemas/reponse/">
	<xs:element name="id" type="xs:string" />
	<xs:element name="label" type="xs:string" />
	<xs:element name="obsolete" type="xs:integer" default="0" />
	<xs:element name="ordering" type="xs:integer" default="10000000" />
	<xs:element name="dateDebut" type="xs:date" />
	<xs:element name="dateFin" type="xs:date" />

</xs:schema>