reponses-4.0.4-2/reponses-core/src/main/resources/schemas/liste_elimination.xsd

<?xml version="1.0" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://nuxeo.org/schemas/liste_elimination/"
    xmlns:lel="http://nuxeo.org/schemas/liste_elimination/"
>

	<xs:element name="en_cours" type="xs:boolean" />
	<xs:element name="suppression_en_cours" type="xs:boolean" />
	<xs:element name="abandon_en_cours" type="xs:boolean" />
</xs:schema>
